:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}

/* config font-style */

/* @font-face {
  font-family: "SFProDisplay";
  src: local("SFProDisplay"), url(/fonts/SFProDisplay.ttf) format("truetype");
}
@font-face {
  font-family: "SFProText";
  src: local("SFProText"), url(/fonts/SFProText.ttf) format("truetype");
} */

@media print {
  html,
  body {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}
